:root {
  --color-accent: oklch(65% 50% 0);
  accent-color: var(--color-accent);
}

body {
  
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;  
  padding: 1em;

}

nav {
  display: flex;
  margin-bottom: 1em;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  background-color: oklch(from var(--color-accent) 95% 5% h);
}

input, textarea, button {
  font:inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

form button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  grid-template-rows: subgrid;
  grid-row: span 3;
  display:grid;
}

.projects h2 {
  margin: 0;
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  padding: 0;
}

.skills li {
  background-color: oklch(from var(--color-accent) 95% 5% h);
  padding: 0.2em 0.7em;
  border-radius: 1em;
}

.education ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
  padding: 0;
}

.education li {
  background-color: oklch(from var(--color-accent) 95% 5% h);
  padding: 0.2em 0.7em;
  border-radius: 1em;
}

.experience {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 1em;
}

.experience article {
  border: 1px solid oklch(80% 3% 200);
  border-radius: 0.5em;
  padding: 1em;
}

.experience h2 {
  grid-column: 1 / -1;
}

.experience h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.extracurriculars article{
  border-left: 0.25em solid var(--color-accent);
  padding-left: 1em;
  margin-block: 1em;
}